body {
  text-align:center;
  background:#fff8e1;
  margin: 0;
  padding: 0;
  font-family: 'EB Garamond', serif;
  font-weight: 400;
}

h1, h2 {
  font-family: 'Oswalrd', sans-serif;
  font-weight: 700;
}



ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-family: 'EB Garamond', serif;
  font-weight: 400;
  font-style: italic
}
