body {
  text-align:center;
  background:  #fff2c8;
  margin: 0;
  padding: 0;
  font-family: 'EB Garamond', serif;
  font-weight: 400;
}

h1, h2 {
  font-family: 'Oswalrd', sans-serif;
  font-weight: 700;
}

h1 {
  color: white;
  font-size: 50px;
  background: #421234;
  border: 2px solid transparent;
  padding: 4%;
}

h2 {
  color: #ffd100;
  font-size: 30px;
  background:  #005082;
  border: 1px solid transparent;
  padding: 2%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;

}

img {
  border: 0;
}

nav {
  padding: 2%;
  background:  #18582b;
}

li {
  margin: 3px;
  border: 2px;
  color: black;
  font-family: 'EB Garamond', serif;
  font-size: 20px;
  font-weight: 700;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  background: #71596a;
}

a:visited {
  color: #ffdf71;
}
